.calibre {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.5
    }
.calibre3 {
    color: gray;
    display: block;
    height: 2px;
    line-height: 1.5;
    border: currentColor inset 1px;
    margin: 0.5em auto
    }
.calibre4 {
    display: block;
    height: 1em;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    border: currentColor none 0;
    margin: 1em 0
    }
.calibre5 {
    text-decoration: none
    }
.calibre6 {
    line-height: 1.5
    }
.calibre7 {
    font-style: italic;
    line-height: 1.5
    }
.calibre8 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.5;
    margin: 1em 0 0;
    padding: 0
    }
.calibre9 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
    text-align: right;
    text-indent: 0;
    margin: 1em 0
    }
.calibre10 {
    display: block;
    line-height: 1.5;
    margin: 1em
    }
.calibre11 {
    height: auto;
    line-height: 1.5;
    width: 5%
    }
.calibre12 {
    display: block;
    line-height: 1.5;
    list-style-type: disc;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre13 {
    height: auto;
    line-height: 1.5;
    width: 7%
    }
.calibre14 {
    line-height: 1.5;
    text-decoration: none
    }
.calibre15 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    line-height: 1.5
    }
.calibre16 {
    font-size: 0.75em;
    line-height: 1.5;
    vertical-align: super
    }
.calibre17 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.5;
    margin: 1em 0 0;
    padding: 0
    }
.calibre18 {
    display: block;
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    font-size: 0.75em;
    white-space: pre-wrap;
    border: #000 solid 1px;
    margin: 1.3em 0;
    padding: 0.3em
    }
.calibre19 {
    font-weight: bold
    }
.calibre20 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace
    }
.calibre21 {
    height: auto;
    line-height: 1.5;
    width: 95%
    }
.calibre22 {
    height: auto;
    line-height: 1.5;
    width: 85%
    }
.calibre23 {
    height: auto;
    line-height: 1.5;
    width: 75%
    }
.calibre24 {
    height: auto;
    line-height: 1.5;
    width: auto
    }
.calibre25 {
    height: auto;
    line-height: 1.5;
    width: 70%
    }
.calibre26 {
    height: auto;
    line-height: 1.5;
    width: 65%
    }
.calibre27 {
    height: auto;
    line-height: 1.5;
    width: 80%
    }
.calibre28 {
    display: block;
    line-height: 1.5;
    list-style-type: decimal-leading-zero;
    margin-bottom: 1em;
    margin-right: 0;
    margin-top: 1em
    }
.calibre29 {
    height: auto;
    line-height: 1.5;
    width: 60%
    }
.calibre30 {
    height: auto;
    line-height: 1.5;
    width: 50%
    }
.calibre31 {
    height: auto;
    line-height: 1.5;
    width: 98%
    }
.calibre32 {
    height: auto;
    line-height: 1.5;
    width: 88%
    }
.calibre33 {
    height: auto;
    line-height: 1.5;
    width: 90%
    }
.calibre34 {
    font-size: 0.77778em;
    line-height: 1.5;
    vertical-align: super
    }
.calibre35 {
    font-style: italic
    }
.calibre36 {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    line-height: 1.5;
    text-indent: 0;
    margin: 15px auto 30px
    }
.calibre37 {
    display: table-header-group;
    line-height: 1.5;
    vertical-align: middle
    }
.calibre38 {
    display: table-row;
    line-height: 1.5;
    vertical-align: inherit
    }
.calibre39 {
    display: table-cell;
    font-size: 0.75em;
    font-weight: bold;
    page-break-inside: avoid;
    text-align: center;
    vertical-align: auto;
    border: #000 solid 1px;
    padding: 0.3em
    }
.calibre40 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em;
    margin: 1em 0
    }
.calibre41 {
    display: table-row-group;
    line-height: 1.5;
    vertical-align: middle
    }
.calibre42 {
    display: table-cell;
    font-size: 0.75em;
    page-break-inside: avoid;
    text-align: left;
    vertical-align: auto;
    border: #000 solid 1px;
    padding: 0.3em
    }
.calibre43 {
    font-family: Courier, Menlo, Monaco, Consolas, monospace;
    font-size: 0.77778em
    }
.calibre44 {
    display: block
    }
.calibre45 {
    background-color: #f1f6fc;
    display: table-row;
    line-height: 1.5;
    vertical-align: inherit
    }
.calibre46 {
    height: auto;
    line-height: 1.5;
    width: 21%
    }
.calibre47 {
    height: auto;
    line-height: 1.5;
    width: 93%
    }
.calibre48 {
    display: block;
    font-weight: bold;
    line-height: 1.5;
    margin: 1em 0 0;
    padding: 0
    }
.calibre49 {
    height: auto;
    line-height: 1.5;
    width: 99%
    }
.calibre50 {
    display: block;
    font-size: 1em;
    line-height: 1.5;
    text-align: center;
    margin: 0 5pt;
    padding: 0
    }
.calibre51 {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-bottom: 0;
    padding-top: 0;
    text-indent: 2em
    }
.di_2ji_wu_xu_lie_biao {
    display: list-item;
    line-height: 1.5
    }
.not-in-toc {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.5;
    margin: 0.67em 0
    }
.tu {
    border-bottom: 0;
    border-top: 0;
    display: block;
    line-height: 1.5;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    text-indent: 0;
    margin: 1em 0
    }
.zhu_shi_bian_hao {
    font-size: 0.75em;
    font-style: normal;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    text-decoration: none;
    top: -0.5em;
    vertical-align: baseline
    }
.zhu_shi_bian_hao_xia {
    font-size: 0.77778em;
    font-weight: bold;
    line-height: 1.5;
    position: relative;
    top: -0.5em;
    vertical-align: baseline
    }
.zhu_shi_nei_rong {
    border-bottom: 0;
    border-top: 0;
    display: block;
    font-size: 0.75em;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 0;
    text-indent: 2em;
    border-left: #999 solid 4px;
    margin: 1em 0
    }
